
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body{
    margin: .5em;
}

body{
    background-image: url("/Imagenes/FONDO1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headercen{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 20%;
    position: relative;
    left: 39%;
    margin-left: auto; 
    margin-right: auto;
}

.login{
    display: flex;
    flex-direction: column;
    align-self: end;
    align-items: flex-end;
    position: fixed;
    right: 1em;
    top: 1em;
}



.menu{
    width: 100%;
    padding: -3em;
    width: 100%;
    align-items: center;
    text-align: center;
}

.navitem{
    padding: 1em;
    font-size: 1em;
    text-align: center;
    color: black;
}


.container{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    padding: 2em;
    background-position: center center;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
   /* margin: 1em;*/

}
.gato{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}

.card{
    display: flex;
    gap: 2em;
    align-items: flex-start;
}

.card-img {
    width: 100%;
}

.card-img > img {
    max-width: 100%;
}

.card-text {
    text-align: justify;
}

.close {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: lightgray;
    margin-left: auto;
}

.close:hover {
    color: black;
}

.hide {
    opacity: 0;
}





@media(min-width:780px){
    *{
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    html, body{
        margin: 1em;
    }
    
    body{
        background-image: url("/Imagenes/FONDO1.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .headercen{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login{
        display: flex;
        flex-direction: column;
        align-self: end;
        align-items: flex-end;
        position: fixed;
        right: 1em;
        top: 1em;
    }

    
    .logo{
        width: 10em;
        position: relative;
        left: -4%;
        margin-left: auto; 
        margin-right: auto;
    }

    .menu{
        width: 100%;
        padding: 10px;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .navitem{
        padding: 1em;
        font-size: 1.5em;
        text-align: center;
        color: black;
    }
    

    .container{
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 1em;
        padding: 2em;
        background-position: center center;
        display: flex;
        flex-direction: column;

    }

    .gato{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2em;
    }
    
    .card{
        display: flex;
        gap: 2em;
        align-items: flex-start;
    }
    
    .card-img {
        width: 20%;
    }
    
    .card-img > img {
        max-width: 100%;
    }
    
    .card-text {
        text-align: justify;
    }
    
    .close {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: lightgray;
        margin-left: auto;
    }
    
    .close:hover {
        color: black;
    }
    
    .hide {
        opacity: 0;
    }
    

}