
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body{
    margin: .5em;
}

body{
    background-image: url("/Imagenes/FONDO1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headercen{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 20%;
    position: relative;
    left: 39%;
    margin-left: auto; 
    margin-right: auto;
}

.login{
    display: flex;
    flex-direction: column;
    align-self: end;
    align-items: flex-end;
    position: fixed;
    right: 1em;
    top: 1em;
    gap: 0.2EM;
}



.menu{
    width: 100%;
    padding: -3em;
    width: 100%;
    align-items: center;
    text-align: center;
}

.navitem{
    padding: 1em;
    font-size: 1em;
    text-align: center;
    color: black;
}


.container{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    padding: 2em;
    background-position: center center;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
   /* margin: 1em;*/
   gap: 1EM;

}
.subcont{
    width: 100%;
}

form > * {
    display: block;
}

form textarea {
    width: 100%;
    resize: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
}

.gato{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}

input, select, textarea, .btn {
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.25em;
}

input[type="file"] {
    padding-left: 0;
}

form textarea {
    width: 100%;
    resize: none;
}

input[type="submit"], .btn {
    cursor: pointer;
    background-color: teal;
    color: white;
    border: 1px solid teal;
    padding: 0.5em;
    transition: 
        background-color ease 150ms,
        color ease 150ms;
}

input[type="submit"]:hover, .btn:hover {
    background-color: white;
    color: teal;
}

.card {
    display: flex;
    gap: 1em;
    align-items: flex-start;
    opacity: 1;
    width: 100%;
}

.card-login {
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.card-img {
    width: 30%;
}

.imagen{
    width: 100%;
}
.img-fluid {
    max-width: 100%;
}

.card-text {
    text-align: justify;
}

.options {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.btn-option {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: lightgray;
}

.btn-option:hover {
    color: black;
}

.hide {
    opacity: 0;
}

.flex-center {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.group-horizontal {
    display: flex;
    align-items: center;
}

.group-horizontal label {
    width: 30%;
}

.group-horizontal input {
    width: 70%;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#photo {
    width: 10%;
}

.modal {
    display: none;
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.25);
    transition: display ease 1000ms;
    -webkit-transition: display ease 1000ms;
}

.modal-dialog {
    width: 500px;
    margin-inline: auto;
    margin-block: 2em;
}

.modal-content {
    background-color: white;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity ease 1000ms;
    -webkit-transition: opacity ease 1000ms;
}

.modal.show .modal-content {
    opacity: 1;
}

.modal-header, .modal-body, .modal-footer {
    padding: 1em;
}

.modal-header {
    border-bottom: 1px solid lightgray;
}

.modal-footer {
    border-top: 1px solid lightgray;
}

.modal-header > * {
    margin: 0;
}

.show {
    display: block;
}


@media(min-width:780px){
    *{
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    html, body{
        margin: 1em;
    }
    
    body{
        background-image: url("/Imagenes/FONDO1.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .headercen{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login{
        display: flex;
        flex-direction: column;
        align-self: end;
        align-items: flex-end;
        position: fixed;
        right: 1em;
        top: 1em;
        gap: 0.2EM;
    }

    
    .logo{
        width: 10em;
        position: relative;
        left: -4%;
        margin-left: auto; 
        margin-right: auto;
    }

    .menu{
        width: 100%;
        padding: 10px;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .navitem{
        padding: 1em;
        font-size: 1.5em;
        text-align: center;
        color: black;
    }
    

    .container{
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 1em;
        padding: 2em;
        background-position: center center;
        display: flex;
        flex-direction: row;

    }

    form > * {
        display: block;
    }


    .gato{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2em;
    }
    
    input, select, textarea, .btn {
        font-size: 1rem;
        padding: 0.5em 1em;
        border-radius: 0.25em;
    }
    
    input[type="file"] {
        padding-left: 0;
    }
    
    form textarea {
        width: 100%;
        resize: none;
    }
    
    input[type="submit"], .btn {
        cursor: pointer;
        background-color: teal;
        color: white;
        border: 1px solid teal;
        padding: 0.5em;
        transition: 
            background-color ease 150ms,
            color ease 150ms;
    }
    
    input[type="submit"]:hover, .btn:hover {
        background-color: white;
        color: teal;
    }
    
    .card {
        display: flex;
        gap: 1em;
        align-items: flex-start;
        opacity: 1;
        transition: opacity ease 300ms;
    }
    
    .card-login {
        border: 1px solid lightgray;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    
    .card-img {
        width: 30%;
    }
    .imagen{
        width: 80%;
    }
    
    .img-fluid {
        max-width: 100%;
    }
    
    .card-text {
        text-align: justify;
    }
    
    .options {
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }
    
    .btn-option {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: lightgray;
    }
    
    .btn-option:hover {
        color: black;
    }
    
    .hide {
        opacity: 0;
    }
    
    .flex-center {
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }
    
    .group-horizontal {
        display: flex;
        align-items: center;
    }
    
    .group-horizontal label {
        width: 30%;
    }
    
    .group-horizontal input {
        width: 70%;
    }
    
    .text-center {
        text-align: center;
    }
    
    .text-end {
        text-align: end;
    }
    
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #photo {
        width: 10%;
    }
    
    .modal {
        display: none;
        z-index: 1050;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-x: auto;
        background-color: rgba(0, 0, 0, 0.25);
        transition: display ease 1000ms;
        -webkit-transition: display ease 1000ms;
    }
    
    .modal-dialog {
        width: 500px;
        margin-inline: auto;
        margin-block: 2em;
    }
    
    .modal-content {
        background-color: white;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity ease 1000ms;
        -webkit-transition: opacity ease 1000ms;
    }
    
    .modal.show .modal-content {
        opacity: 1;
    }
    
    .modal-header, .modal-body, .modal-footer {
        padding: 1em;
    }
    
    .modal-header {
        border-bottom: 1px solid lightgray;
    }
    
    .modal-footer {
        border-top: 1px solid lightgray;
    }
    
    .modal-header > * {
        margin: 0;
    }
    
    .show {
        display: block;
    }
}